html,
body {
    background-color: rgb(13, 53, 13);
    background: repeating-linear-gradient(
        0deg,
        rgba(13, 53, 13, 1),
        rgba(38, 34, 40, 1) 10px,
        rgba(13, 53, 13, 1) 10px,
        rgba(38, 34, 40, 1) 20px
    );
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: rgba(43, 211, 105, 0.5);
    font-family: "Share Tech Mono", monospace;
    font-size: 7em;
    font-weight: lighter;
    line-height: 0.1em;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 5em; /* Adjust the font size for smaller screens */
    }
}
