html,
body {
    background-color: rgb(13, 53, 13);
    background: repeating-linear-gradient(
        0deg,
        rgba(13, 53, 13, 1),
        rgba(38, 34, 40, 1) 10px,
        rgba(13, 53, 13, 1) 10px,
        rgba(38, 34, 40, 1) 20px
    );
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    text-align: center;
}

.container > .flexbox {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

h2 {
    color: rgba(43, 211, 105, 0.5);
    font-family: "Share Tech Mono", monospace;
    font-size: 7em;
    font-weight: lighter;
    line-height: 0.1em;
}
